@import "tailwindcss";

@font-face{
  font-family: 'Mulish';
  src: url('/fonts/Mulish-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'JosefinSans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Hubballi-Regular';
  src: url('/fonts/Hubballi-Regular.ttf');
}

html{
  scroll-behavior: smooth;
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #1D1D1D;
  color: #B6B6B4;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1D1D1D;
}

body::-webkit-scrollbar-thumb {
  background-color: #B6B6B4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}


/*PALETAS
#B6B6B4
#6C6C6A
#3B3B3B
#1D1D1D*/