header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}

/* h2.lightMode{
    color: rgb(17, 18, 20);
}

h2.darkMode{
    color: white;
} */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 8rem;
}

.align-title-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.align-title-logo a {
    text-decoration: none;
}

.align-title-logo h1 {
    color: white;
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
}

.span-developer {
    color: rgb(255, 174, 0);
    text-shadow: rgba(255, 136, 0, 0.705) 0px 1px 15px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.4s;
}

ul a:hover {
    color: rgb(255, 174, 0);
    text-shadow: rgba(255, 136, 0) 0px 1px 15px;
    transition: 0.4s linear;
    text-decoration: underline;
}

.burger-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 7px;
    background-color: rgb(255, 174, 0);
    display: none;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    box-shadow: rgba(255, 136, 0) 0px 1px 15px;

    transition: all 0.4s ease;
}

.burger-btn div {
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    transition: all 0.4s ease;
}

.divBtnToggle{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.divAlignMenu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;    
}

#icon-sun, #icon-moon {
    width: 1.5rem;
    height: 1.5rem;
    transition: opacity 0.4s ease;
}

#icon-sun{
    opacity: 0;
}

.alignCircleChange{
    position: relative;
    width: 3.3rem;
    height: 1.7rem;
    background-color: #ddd;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.7s ease;
    box-shadow: rgb(255, 255, 255) 0px 1px 15px;
}

.circleChange{
    background-color: rgb(255, 174, 0);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
    position: absolute;
    right: 0;
    margin: 0.2rem;
    transition: transform 0.4s ease, background-color 0.4s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
} 

@media screen and (max-width: 1360px){
    ul li{
        font-size: 18px;
    }

    .align-title-logo h1{
        font-size: 25px;
    }    
}

@media screen and (max-width: 1130px){
    nav {
        padding: 0 2rem;
    }

    ul li{
        font-size: 18px;
    }

    .align-title-logo h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 1000px) {
    nav {
        padding: 0 2rem;
    }

    ul {
        display: none;
        flex-direction: column;
        background: linear-gradient(150deg, rgb(255, 174, 0) 0%, rgb(255, 115, 0) 90%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 3em 3em;
        z-index: 2;
        gap: 2.5rem;
        text-align: center;
        transition: transform 0.4s ease;
    }

    .alignCircleChange,#icon-sun, #icon-moon{
        display: none;
    }

    ul li{
        font-size: 20px;
        font-weight: 500;
    }

    ul.active {
        display: flex;
    }

    .burger-btn {
        display: flex;
        z-index: 2;
    }

    .burger-btn.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger-btn.toggle .line2 {
        opacity: 0;
    }

    .burger-btn.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media screen and (max-width: 768px) {
    header{
        margin-bottom: 3.5rem;
    }    
}

@media screen and (max-width: 420px) {
    .align-title-logo a h1{
        font-size: 22px;
    }
    
    .align-title-logo img{
        width: 40px;
    }

    .align-title-logo{
        gap: 0.5rem;
    }

    nav{
        padding: 0 1rem;
    }
}

@media screen and (max-width: 344px) {
    .align-title-logo a{
        margin-right: 2rem;
    }
}

